# Dependencies
node_modules/
package-lock.json

# Environment variables
.env
.env.local

# SQLite Database local files & WAL
*.db
*.db-wal
*.db-shm
server/data/

# Logs
*.log
npm-debug.log*

# OS Files
.DS_Store
Thumbs.db
